/* https://color.adobe.com/create/color-wheel
Compound
A #8A332C Dark Red
B #BD9D9B Light gray pink
C #562449 purple
D #536343 easy darker green
E #7D8A2C neon tree green

TEXT
B and D and E 423120 dark brown
A and C #FFC48D yellowgold
 */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cinezel;
}
body {
  /* background-color: #bd9d9b; */
  /* position: relative; */
  background: linear-gradient(180deg, #ffeeee 40%, #bd9d9b);
  /* min-height: 100vh;
  max-width: 100vw; */
  color: #423120;
  font-family: Cinezel;
  font-size: 18px;
  width: 100%;
  min-height: 100vh;
}
.content {
  display: flex;
}
#logo {
  min-width: 500px;
  min-height: 250px;
}
header {
  width: 100%;
}
.top {
  display: flex;
  min-height: 200px;
  overflow: hidden;
}

.company-info {
  height: 100%;
  padding: 0 10em;
  background-color: #562449;
}
#login-info {
  display: flex;
  flex-grow: 1;
  background-color: #562449;
  align-items: center;
  color: #ffc48d;
  justify-content: center;
  align-items: center;
}
/*------------------------------NAV BAR------------------------*/
.nav-list {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  background-color: #8a332c;
  color: #ffc48d;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* a::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0.5rem 1rem -0.25em rgb(255, 196, 140, 0.3);
    transition: opacity 1s ease;
  } */
/* a:hover::after {
    z-index: 2;
    opacity: 1;
  } */
/* a:hover {
      color: aqua;
  } */
.nav-list a:hover {
  /* transform: translateY(-20em) scale(1.02); */
  color: white;
}
.nav-list a {
  /* background-color: red; */
  display: inline-block;
  position: relative;
  /* padding: 0 10px; */
  color: #ffc48d;
  line-height: 34px;
  letter-spacing: 0.8px;
  text-decoration: none;
  /* transform: transform 1s ease; */
}

#login-info form {
  text-align: center;
}
#login-info div {
  /* border: 1px solid red; */
  padding: 0.3em 0;
}
#login-info button {
  width: 50%;
  /* border: 1px solid red; */
}

#price-range-form {
  display: flex;
  justify-content: center;
  margin: 1em;
  font-size: 1.5em;
}
button {
  background-color: #8a332c;
  color: #ffc48d;
}
button:hover {
  color: white;
}

/* -------------------About Me Page--------------*/
#about-me {
  width: 50%;
  margin: 1em auto;
  font-size: 22px;
}
#photo {
  float: left;
  width: 200px;
  margin: 0 1em;
}
/* --------------------Property Page---------------*/
.property-panel {
  display: flex;
  margin: 2em 3em;
  font-weight: 600;
}
#property-panel-filter > * {
  height: 30px;
  margin: 0 0.3em;
}
#propertyForm {
  width: 25%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
  padding-top: 1em;
  padding-right: 1em;
}
#propertyForm > * {
  padding: 2em;
}
#cover-photo {
  width: 200px;
}
.property-panel div {
  padding: 0 1em;
}

.hide {
  display: none !important;
}
/* --------------Contact Me Page --------------*/
#property-manager-page {
  margin: 1em auto;
  font-size: 1.5em;
}
#property-manager-page h3 {
  margin: 0;
}
#brand-links {
  display: flex;
  /* width: 25%; */
  justify-content: center;
  margin: 0.5em 0;
}
#brand-links a {
  text-decoration: none;
}
/* Font Awesome Icons */
i {
  margin: 0 0.5em;
}

#brand-links a img {
  width: 50px;
  margin: 0em 1em;
}
#property-manager-page div:first-child {
  /* border: 1px solid black; */
  display: flex;
}
#prof-photo {
  border-radius: 50%;
  width: 175px;
}

#login-welcome div button {
  white-space: nowrap;
  min-width: min-content;
}
#login-welcome {
  width: 200px;
}
